# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# IDEs and Editors
.vscode/
*.swp

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Render/Heroku files (optional)
*.sqlite3
